<!-- If api call is done -->
<div class="container-fluid " *ngIf="movie">
  <!-- Images -->
  <div class="container-fluid position-relative">
    <img
      *ngIf="movie['backdrop_path']"
      class="bg-img"
      src="https://image.tmdb.org/t/p/w1280{{ movie['backdrop_path'] }}"
    />

    <img
      *ngIf="movie['poster_path']"
      class="poster-img-single-detail img-fluid"
      src="https://image.tmdb.org/t/p/w500{{ movie['poster_path'] }}"
      title="{{ movie['title'] }}"
      alt="{{ movie['title'] }}"
    />
  </div>

  <!-- Written information -->
  <div class="detail-text-container">
    <!-- Movie title -->
    <h1 class="h1-responsive heading">
      {{ movie["title"] }} ({{ movie["release_date"] | slice: 0:4 }})
    </h1>

    <!-- if the original title is different from the title, display it -->
    <h1
      class="h1-responsive heading"
      *ngIf="movie['original_title'] !== movie['title']"
    >
      Original Title: {{ movie["original_title"] }}
    </h1>

    <!-- Tagline -->
    <p *ngIf="movie['tagline']">Tagline: "{{ movie["tagline"] }}"</p>

    <!-- Vore average -->
    <p>
      Vote average: <strong>{{ movie["vote_average"] }}</strong>
    </p>

    <!-- List of applicable genres -->
    <div *ngIf="movie['genres'].length">
      <h3 class="h3-responsive">Genres:</h3>
      <div *ngFor="let genre of movie['genres']">
        <span>{{ genre["name"] }}</span>
      </div>
    </div>

    <!-- Summary plot -->
    <div class="plot-summary" *ngIf="movie['overview'].length">
      <h3 class="h3-responsive mt-3">Summary:</h3>
      <p>{{ movie["overview"] }}</p>
    </div>
  </div>

  <!-- Top six cast -->
  <div class="cast-starring-container " *ngIf="movie['credits']['cast'].length">
    <h3 class="h3-responsive">Cast:</h3>

    <div class="detail-cast-starring-container row">
      <div
        class="detail-card col-4 col-lg-2 mb-3"
        *ngFor="let cast of movie['credits']['cast'] | slice: 0:12"
      >
        <div *ngIf="cast['profile_path'] !== null; else noPic">
          <a class="view overlay zoom" routerLink="/person/{{ cast['id'] }}">
            <img
              class="poster-img-solo mb-3 hoverable"
              src="https://image.tmdb.org/t/p/w200{{ cast['profile_path'] }}"
              title="{{ cast['name'] }}"
              alt="{{ cast['name'] }}"
            />
            <h5 class="h5-responsive heading">{{ cast["name"] }}</h5>
          </a>
        </div>

        <ng-template #noPic>
          <a class="view overlay zoom" routerLink="/person/{{ cast['id'] }}">
            <div
              class="hoverable mb-3 img-placeholder row align-content-center justify-content-center"
            >
              <i class="far fa-image mb-3"></i>
              <p>no image</p>
            </div>
            <h5 class="h5-responsive heading">{{ cast["name"] }}</h5>
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</div>
