img.poster-img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.posters {
  justify-content: space-around;
}

.row {
  text-align: center;
}

.page-navigation {
  justify-content: center;
}

.page-navigation button {
  font-size: .7rem;
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .page-navigation button {
    font-size: 1rem;
  }
}
