<h1 class="title text-center h1-responsive">Trending Movies this week</h1>

<div class="container-fluid">
  <div class="row">
    <!-- Loop trending movies, limit result with slice -->
    <div
      class="col-4 col-md-4 col-lg-2 my-3 px-2 px-md-4"
      *ngFor="let item of trending | slice: 0:18"
    >
      <div class="d-flex justify-content-between flex-column h-100">
        <div *ngIf="item.poster_path !== null; else noPic">
          <a class="view overlay zoom" routerLink="/movie/{{ item.id }}">
            <img
              class="poster-img hoverable"
              src="https://image.tmdb.org/t/p/w400/{{ item.poster_path }}"
              title="{{ item.title }}"
              alt="{{ item.title }}"
            />
          </a>
        </div>

        <ng-template #noPic>
          <div class="credit-img no-img">
            <a class="view overlay zoom" routerLink="/movie/{{ item.id }}">
              <div class="hoverable img-placeholder">
                <i class="far fa-image mb-3"></i>
                <h5 class="missing-img-no-img heading">
                  {{ item.title }}
                </h5>
              </div>
            </a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<!-- Implement this -->
<!-- <app-page-navigation></app-page-navigation> -->

<div class="page-navigation container-fluid my-3">
  <div class="row justify-content-center align-items-center px-3">
    <button
      type="button"
      class="btn btn-primary col-4 col-md-2"
      *ngIf="page <= 1; else buttonActive"
      disabled
    >
      <i class="fas fa-angle-double-left"></i>&nbsp; Previous page
    </button>
    <ng-template #buttonActive>
      <button
        type="button"
        class="btn btn-primary col-4 col-md-2"
        (click)="getTrending(page - 1)"
        routerLink="/trending/{{ page - 1 }}"
        routerLinkActive
      >
        <i class="fas fa-angle-double-left"></i>&nbsp; Previous page
      </button>
    </ng-template>

    <div class="col-4 col-md-2">
      <span class="current-page"
        >Page {{ page }}<br />
        of <br />{{ totalPages }}</span
      >
    </div>

    <!-- Next page -->
    <button
      type="button"
      class="btn btn-primary col-4 col-md-2"
      *ngIf="page === totalPages; else buttonNextActive"
      disabled
    >
      Next page &nbsp;<i class="fas fa-angle-double-right"></i>
    </button>

    <ng-template #buttonNextActive>
      <button
        type="button"
        class="btn btn-primary col-4 col-md-2"
        (click)="getTrending(page + 1)"
        routerLink="/trending/{{ page + 1 }}"
      >
        Next page &nbsp;<i class="fas fa-angle-double-right"></i>
      </button>
    </ng-template>
  </div>
</div>
