/* You can add global styles to this file, and also import other style files */

* {
max-width: 100%;
}
/*
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.root-detail {
}


.poster-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-flow: wrap;
}

.poster-img {
  margin-bottom: 7px;
  width: 250px;
}

.poster-img-solo {
  // height: 750px;
}

.poster-img-container {
  display: flex;
  justify-content: center;
}

.actor-card {
  margin: 10px;
  text-align: center;
}

.cast-container {
  display: flex;
  justify-content: space-evenly;
}

.actor-detail-cast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.actor-detail-movie-card {
  margin: 10px;
  text-align: center;
  width: 250px;
}
 */

/* .actor-detail-cast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.actor-detail-movie-card {
  margin: 10px;
  text-align: center;
  width: 250px;
} */

.page-navigation {
  font-size: 0.75rem;
}

.bg-img {
  z-index: -1;
  max-height: 750px;
  max-width: 100%;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .page-navigation {
    font-size: 1rem;
  }

  .poster-img {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-height: 750px;
  }

  .detail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .detail-card {
    // margin: 10px;
    text-align: center;
  }
}
